In [1]:
import pandas as pd

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 1, 5, 2, 4.5, 1, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

data = pd.DataFrame(data,index=labels)
data

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  1.0       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  1.0       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:
priority = data.pop('priority')

In [4]:
data

  animal  age  visits
a    cat  2.5       1
b    cat  3.0       3
c  snake  0.5       2
d    dog  1.0       3
e    dog  5.0       2
f    cat  2.0       3
g  snake  4.5       1
h    cat  1.0       1
i    dog  7.0       2
j    dog  3.0       1

In [5]:
priority

a    yes
b    yes
c     no
d    yes
e     no
f     no
g     no
h    yes
i     no
j     no
Name: priority, dtype: object